@{
    ViewData["Title"] = "Club";
}
<script>
    const LINK = "@Model.link";
</script>
<script type="module" src="/js/Club/Courts.js"></script>

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's specified club court.</p>
