@{
    ViewData["Title"] = "Club";
}
<script>
    const NEWS = "@Model.news";
</script>
<script type="module" src="/js/Club/newsItem.js"></script>

<h1>@ViewData["Title"]</h1>
<p>@Model.link</p>
<p>Use this page to detail your site's specified club.</p>