@{
    ViewData["Title"] = "Account";
}
<script>
    const ACCOUNT = "@Model.ACCOUNT";
</script>
<script type="module" src="/js/Account/index.js"></script>
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's account.</p>
