@{
    ViewData["Title"] = "Club";
}
<script>
    const RESERVATIONS = "@Model.RESERVATIONS";
</script>
<script type="module" src="/js/Account/reservations.js"></script>
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's specified reservations of account.</p>
