@{
    ViewData["Title"] = "Clubs";
}
<script>
    const SEARCH = "@Model.search";
</script>
<script type="module" src="/js/Clubs/index.js">

</script>
<h1>@ViewData["Title"]</h1>
<p>@Model.search</p>
<p>Use this page to detail your site's clubs.</p>
