@{ ViewData["Title"] = "Forgot"; }
<script type="module" src="/js/Register/forgot.js"></script>

<h2>Forgot Password</h2>

<form>
  <div>
    <label for="email">Email address</label>
    <input
      type="email"
      id="email"
      aria-describedby="emailHelp"
      placeholder="Enter email"
    />
  </div>
  <button type="submit">Submit</button>
  <p id="forgot_err" class="hidden text-red-600"></p>
</form>
