@{
    ViewData["Title"] = "Register";
}
<script type="module" src="/js/Register/index.js"></script>

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's register.</p>

<form>
	<div class="form-group">
		<label for="InputEmail">Email address</label>
		<input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="Enter email">
		<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
	</div>
	<div class="form-group">
		<label for="InputPassword">Password</label>
		<input type="password" class="form-control" id="InputPassword" placeholder="Password">
	</div>
	<div class="form-group">
		<label for="InputPasswordConfirm">Confirm Password</label>
		<input type="password" class="form-control" id="InputPasswordConfirm" placeholder="Confirm Password">
	</div>
	<button id="register_btn" type="button" class="btn btn-primary" >Submit</button>
</form>

<h2>Login</h2>

<form>
	<div class="form-group">
		<label for="InputEmailLogin">Email address</label>
		<input type="email" class="form-control" id="InputEmailLogin" aria-describedby="emailHelp" placeholder="Enter email">
		<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
	</div>
	<div class="form-group">
		<label for="InputPasswordLogin">Password</label>
		<input type="password" class="form-control" id="InputPasswordLogin" placeholder="Password">
	</div>
	<button id="login_btn" type="button" class="btn btn-primary" >Login</button>
</form>


