@{ ViewData["Title"] = "Register"; }
<script type="module" src="/js/Register/index.js"></script>
<link rel="stylesheet" href="/css/Register/index.css"/>

<div class="flex flex-col justify-center items-center registerView" id="registerView">
  <h2 class="text-5xl font-medium mb-6 text-white ueberschrift">Register</h2>
  <form id="register_form">
    <div class="text-xl mb-2">
      <input
        type="email"
        class="flex"
        id="InputEmail"
        aria-describedby="emailHelp"
        placeholder="Email Address"
      />
    </div>
    <div class="text-xl mb-2">
      <input
        type="password"
        class=""
        id="InputPassword"
        placeholder="Password"
      />
    </div>
    <div class="text-xl mb-2">
      <input
        type="password"
        class=""
        id="InputPasswordConfirm"
        placeholder="Confirm Password"
      />
    </div>
    <p id="register_err" class="hidden text-red-600 font-bold text-center"></p>
    <button id="register_btn" type="submit" class="register_btn mb-2">Register</button>
  </form>
  <p class="text-white">
    Already have an account?
    <button type="button" id="loginView_btn">Login</button>
  </p>
</div>

<div id="loginView" class="hidden flex flex-col justify-center items-center registerView">
  <h2 class="text-5xl font-medium mb-6 text-white">Login</h2>
  <form id="login_form">
    <div class="text-xl mb-2">
      <input
        type="email"
        class=""
        id="InputEmailLogin"
        aria-describedby="emailHelp"
        placeholder="Enter email"
      />
    </div>
    <div class="text-xl mb-2">
      <input
        type="password"
        class=""
        id="InputPasswordLogin"
        placeholder="Password"
      />
    </div>
    <p id="login_err" class="hidden text-red-600 font-bold text-center"></p>
    <button id="login_btn" type="submit" class="login_btn">Login</button>
  </form>
  <p class="text-white">
    Don't have an account?
    <button type="button" id="registerView_btn">Register</button>
  </p>

  <p class="text-white">
    <button type="button" id="forgotPwd_btn">Forgot Password</button>
  </p>
</div>