@{ ViewData["Title"] = "Register"; }
<script type="module" src="/js/Register/index.js"></script>

<div class="flex flex-col justify-center items-center registerView" id="registerView">
  <h2 class="text-5xl font-medium mb-6 text-white">Register</h2>
  <form id="register_form">
    <div class="text-xl mb-2">
      <label for="InputEmail"></label>
      <input
        type="email"
        class="flex"
        id="InputEmail"
        aria-describedby="emailHelp"
        placeholder="Email Address"
      />
    </div>
    <div class="text-xl mb-2">
      <label for="InputPassword"></label>
      <input
        type="password"
        class=""
        id="InputPassword"
        placeholder="Password"
      />
    </div>
    <div class="text-xl mb-2">
      <label for="InputPasswordConfirm"></label>
      <input
        type="password"
        class=""
        id="InputPasswordConfirm"
        placeholder="Confirm Password"
      />
    </div>
    <p id="register_err" class="hidden text-red-600"></p>
    <button id="register_btn" type="submit" class="register_btn mb-2">Register</button>
  </form>
  <p class="text-white">
    Already have an account?
    <button type="button" id="loginView_btn">Login</button>
  </p>
</div>

<div id="loginView" class="hidden">
  <h2>Login</h2>

  <form id="login_form">
    <div class="">
      <label for="InputEmailLogin">Email address</label>
      <input
        type="email"
        class=""
        id="InputEmailLogin"
        aria-describedby="emailHelp"
        placeholder="Enter email"
      />
    </div>
    <div class="">
      <label for="InputPasswordLogin">Password</label>
      <input
        type="password"
        class=""
        id="InputPasswordLogin"
        placeholder="Password"
      />
    </div>
    <p id="login_err" class="hidden text-red-600"></p>
    <button id="login_btn" type="submit" class="">Login</button>
  </form>
  <p>
    Don't have an account?
    <button type="button" id="registerView_btn">Register</button>
  </p>
</div>

<style>
input[type=email], select {
  width: 120%;
  height: 110%;
  padding: 8px 20px;
  padding-top: 8px;
  margin-bottom: 5px;
  border-radius: 40px;
  box-sizing: border-box;
}

input[type=email]:focus {
  outline: none;
}

input[type=password], select {
  width: 120%;
  height: 110%;
  padding: 8px 20px;
  padding-top: 8px;
  border-radius: 40px;
  box-sizing: border-box;
}

input[type=password]:focus {
  outline: none;
}

#register_btn {
  width: 120%;
  height: 110%;
  padding: 8px 20px;
  padding-top: 8px;
  border-radius: 40px;
  box-sizing: border-box;
  background-color: #041729;
  color: white;
}

#registerView {
  height: 100%;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 10%;
  padding-top: 50px;
  padding-bottom: 40px;
  box-sizing: border-box;
  background-color: #5B83AB;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
</style>