@{ViewData["Title"] = "Imprint";}
<link rel="stylesheet" href="/css/Home/imprint.css"/>

<div class="md:w-1/2 bg-white rounded-lg shadow-lg md:mx-auto mx-2 p-4 mt-5">
    <h1 class="text-3xl mb-2">Impressum</h1>
        <p class="mb-4">Informationspflicht laut §5 E-Commerce Gesetz, §14 Unternehmensgesetzbuch, §63 Gewerbeordnung und Offenlegungspflicht laut §25 Mediengesetz. </p>
        <p class="mb-4">Adrian Schauer</p> 
        Wilhelmstraße 7b
        <br> 
        3032 Eichgraben,
        <br>
        <p class="mb-4">Österreich</p>
        <h2 class="font-bold">Email:</h2>
        <a href="mailto:info@adrian-schauer.at">info@adrian-schauer.at</a>
</div>